<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Furniture Showroom 1</h5>
                    <p class="card-text">Adres İstanbul/Turkey</p>
                </div>
            </div>
            &emsp;
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Furniture Showroom 2</h5>
                    <p class="card-text">Adres İstanbul/Turkey</p>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br /><br />
    <div>
        <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.591990991564!2d29.026974115276605!3d40.990414279302605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab9f0b8afbb1f%3A0x703cd0993370cf84!2zS2FkxLFrw7Z5IEJvxJ9hIEhleWtlbGk!5e0!3m2!1str!2str!4v1628508345029!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></center>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br />
</section>